{{ env.currentView }} {{ env.currentPage }}
<div class="well" ng-if="env.currentView == 'home'">
    <input  type="text"
            ng-model="env.searchPattern"
            ng-keyup="$event.keyCode == 13 && onSearchPatternChange()"
    />
    Total: {{ env.data.count }} for pattern '{{ env.currentSearchPattern }}'<br />
    <uib-pagination
            total-items="env.data.count"
            ng-model="env.currentPage"
            force-ellipses="true"
            max-size="10"
            rotate="false"
            boundary-link-numbers="true"
            ng-change="changePage()"
    ></uib-pagination>

    <table class="table table-condensed">
        <tr>
            <th>Code étudiant</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Code Étape</th>
            <th>Centre</th>
        </tr>
        <tr ng-if="!env.isLoaded">
            <td colspan="5">Loading records ...</td>
        </tr>
        <tr ng-repeat="r in env.data.results"
            ng-if="env.isLoaded">
            <td><a ng-click="changeView('record', r)">{{ r.individu.cod_etu }}</a></td>
            <td>{{ formatNoms(r.individu) }}</td>
            <td>{{ formatPrenoms(r.individu) }}</td>
            <td>{{ r.inscription.cod_etp }}</td>
            <td><pre>{{ formatRattachements(r.rattachements) }}</pre></td>
        </tr>
    </table>
</div>
<div ng-if="env.currentView == 'record'">
    <a ng-click="changeView('home')">Back</a>
    <!-- pre>{{  env.currentRecord | json }}</pre -->
    <individu-read-only></individu-read-only>
    <rattachements-centre-examen></rattachements-centre-examen />
</div>