{% load static from staticfiles %}
{% load duck_utils %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "bootstrap3/css/bootstrap.css" %}">
    <script src="{% static "bootstrap3/js/bootstrap.js" %}"></script>
    <title></title>
    <style type="text/css">
        .etiquette {
            margin-left: 1cm;
            margin-top: 1cm;
        }

        .destinataire {
            margin-left: 3cm;
            margin-right: 1cm;
            margin-top: 1cm;
            font-size: 18px;
        }

        .half {
            height: 13cm;
        }
      h5, h4{
            font-weight: bold;
        }

    </style>
</head>
<body>
<div class="container">
{% counter assign='a' silent=True %}
    {% for centre in centres %}
        <div class="row half etiquette">
            <div class="col-xs-5 etiquette">
            IED PARIS 8
                    <center>
                    <div class="small">
                    <u></u><h5>ENVELOPPE DESTINEE </h5>
                    <h5>AU RESPONSABLE DU CENTRE</h5>
                    <h5>D'EXAMEN</h5></u>

                    {{ label }} <br/>
                    {{ centre.label }} - {% if session == '1' %}
                    Juin
                        {% else %}
                        Septembre
                    {% endif %}{% now "Y" %}
                    </div>
                    </center>
            Cette enveloppe contient :
                <ul>
                    <li>Le bordereau d'envoi</li>
                    <li>l'accusé de réception</li>
                    <li>Le déroulement des épreuves</li>
                    <li>Le document "après les épreuves"</li>
                    <li>Le document "consignes de surveillance"</li>
                    <li>La liste d'émargement</li>
                    <li>Enveloppe RETOUR des PV + liste d'émargment</li>
                    <li>Les Procès Verbaux des séances</li>
                </ul>
            Les PV sont à remplir par les surveillants après chaque séance et ils sont à retourner à l'IED même
                si aucun étudiant ne s'est présenté à l'épreuve
            </div>


            <div class="col-xs-5 etiquette">
                <strong>IED PARIS 8</strong>
                <center>
                    <u><h4>ENVELOPPE RETOUR</h4></u>
                    DES PROCES-VERBAUX <br/>
                    ET <br/>
                    LA LISTE D'EMARGEMENT <br/>
                    {% if session == '1' %}
                        Juin
                    {% else %}
                        Septembre
                    {% endif %}
                    {% now "Y" %} <br/>
                    {{ label }} <br/>
                    {{ centre.label }}
                </center>

            </div>
        </div>

        {% for deroulement in deroulements %}

                {% for matiere in deroulement.matieres %}
                    {% for ec in matiere.ecs %}
                <div class="row half etiquette">
                    <div class="col-xs-5 etiquette">
                        <table>
                            <tr>
                                <td>
                                    <strong>IED PARIS 8</strong>
                                </td>
                                <td style="position: absolute; right: 15px;">
                                    {{ ec.prof }} <br/> {{ ec.code_ec }} <br/>
                                </td>
                            </tr>
                        </table>
                        <center>
                         <br/> <br/>
                            <u>ENVELOPPE SUJET</u> <br/>
                            {{ deroulement.date }} <br/>
                            de {{ matiere.heure_debut }} à {{ matiere.heure_fin }} <br/>

                            {{ label }} <br/>
                            {{ ec.label }} <br/>
                            {{ centre.label }}
                        </center>
                    </div>


                    <div class="col-xs-5 etiquette">

                        IED PARIS 8
                        <center>
                        {{ ec.prof }} <br/> {{ ec.code_ec }} <br/>
                            RETOUR ENVELOPPE <br/>
                            {{ deroulement.date }} <br/>
                            de {{ matiere.heure_debut }} à {{ matiere.heure_fin }} <br/>

                            {{ label }} <br/>
                            {{ ec.label }} <br/>
                            {{ centre.label }}
                        </center>
                    </div>
                </div>
                        {% endfor %}

                    {% if a|divisibleby:'2' %}
                    <div style="page-break-after:always"></div>

                    {% endif %}
                    {% counter assign='a' silent=True %}
            {% endfor %}

        {% endfor %}
        <div style="page-break-after:always"></div>
        {% counter assign='a' start=0 silent=True %}
    {% endfor %}

</div>
</body>
</html>