{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "bootstrap3/css/bootstrap.css" %}">
    <script src="{% static "bootstrap3/js/bootstrap.js" %}"></script>
    <title></title>
    <style type="text/css">
        .etiquette {
            margin-left: 1cm;
            margin-top: 1cm;
        }

        {#        .expediteur{#}
        {#        }#}
        .destinataire {
            margin-left: 3cm;
            margin-right: 1cm;
            margin-top: 1cm;
            font-size: 18px;
        }

        .half {
            height: 9cm;
        }
    </style>
</head>
<body>
<div class="container">
    {% for centres_gestion in centres_gestions %}
        {% for nb in nb_etiquette %}


            {% if forloop.counter|divisibleby:'2' %}
                <div class="row half">
            {% endif %}
        <div class="col-xs-5 etiquette">

                    A l'attention de {{ centres_gestion.last_name_manager }} {{ centres_gestion.first_name }} <br/>
                    {{ centres_gestion.sending_address|linebreaks }} <br/>
                    {{ centres_gestion.country }}

        </div>
        {% if forloop.counter|divisibleby:'2' %}
            </div>
        {% endif %}
            {% if forloop.counter|divisibleby:'3' %}
                <div style="page-break-after:always"></div>
            {% endif %}
        {% endfor %}

    {% endfor %}

    {#{% for etudiant in etudiants %}#}
    {#        {% if forloop.counter|divisibleby:'2' %}#}
    {#            <div class="row half">#}
    {#        {% endif %}#}
    {##}
    {##}
    {#    {% include "extraction/adresse.html" %}#}
    {#    {% if forloop.counter|divisibleby:'2' %}#}
    {#        </div>#}
    {#    {% endif %}#}
    {#   {% if forloop.counter|divisibleby:'4' %}#}
    {#       <div style="page-break-after:always"></div>#}
    {#   {% endif %}#}
    {#{% endfor %}#}
</div>
</body>
</html>