{% load static %}
<html>
<head>
    <link href="{% static "bootstrap3/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/pdf.css" %}" rel="stylesheet">

    <style type="text/css">
       div.break { page-break-after: always }
    </style>
</head>
<body>
{% for centre in centres %}

<div class="container">
<table class=" table table-bordered table-striped">
<thead>
    <tr class="entete">
        <td class="entete" colspan="100%">
        <div class="pull-left"><img class="signature " src="{% static 'images/logo-ied.jpg'%}"></div>
            <center><h3>Session {{ session }} - {{ label }} </h3><h3>{{ centre.label }}</h3><br/></center>
        </td>
    </tr>
    <tr>
        <td colspan="5" rowspan="2"></td>
        {% for deroulement in deroulements %}
            <td colspan="{{ deroulement.matieres|length }}">{{ deroulement.date }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for deroulement in deroulements %}
            {% for matiere in deroulement.matieres %}
                <td>{{ matiere.heure_debut|safe }}-{{ matiere.heure_fin|safe }} </td>
            {% endfor %}
        {% endfor %}
    </tr>
    <tr>
        <td></td>
        <td>NOM</td>
        <td>NOM D'ÉPOUSE</td>
        <td>PRÉNOM</td>
        <td>N° ÉTUDIANT</td>
        {% for deroulement in deroulements %}
            {% for matiere in deroulement.matieres %}
                <td>
                    {% for ec in matiere.ecs %}
                        {{ ec.label|safe }} {% if not forloop.last %}/{% endif %}
                    {% endfor %}

                </td>
            {% endfor %}
        {% endfor %}
    </tr>
</thead>
<tbody>
{% with centre.etudiants as etudiants  %}


{% for etudiant in etudiants %}

    <tr>
        {% with etudiant.inscription as  etudiant%}
        <td colspan="1">{{ forloop.counter }}</td>
        <td>{{ etudiant.nom }}</td>
        <td>{{ etudiant.nom_epoux }}</td>
        <td>{{ etudiant.prenom }}</td>
        <td>{{ etudiant.cod_etu }}</td>
        {% endwith %}
    {% for x in nb_matiere %}
    <td></td>
    {% endfor %}


    </tr>

    
{% endfor %}
    {% for nb in centre.nb_ligne_vide %}
        <tr>
            <td>{{ nb }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% for x in nb_matiere %}
            <td></td>
            {% endfor %}
        </tr>
    {% endfor %}


{% endwith %}
</tbody>
</table>
</div>
    <div class="break"></div>
{% endfor %}


</body>
</html>

