{% extends "xadmin/base_site.html" %}
{% load lib_inscription %}
{% block nav_title %}Gestion financiere{% endblock %}
{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Etape</th>
            <th>Etiquette centre examen</th>
            <!--<th>Impression des bordereaux</th>-->
            <!--<th>Cloture des bordereaux</th>            <!--<th>Impression des bordereaux</th>-->
            <!--<th>Cloture des bordereaux</th>-->
        </tr>
        </thead>
        <tbody>
        {% for etape in etapes %}
        <tr>
            <td>{{ etape }}</td>
            <td><a href=""></a>{{ etape }}</td>
            <!--<td><a class="btn btn-primary" href="">Impression des bordereaux pour l'année  {{ year}}</a></td>-->
            <!--<td><a class="btn btn-primary" href="">Bordereaux : {{ year}}</a></td>-->

        <tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
